.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 200px 600px 100px; */
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 5px;
    grid-template-areas: "hd hd hd hd hd hd" "po po po po po po" "ft ft ft ft ft ft";
}

.box {
    /* border: 1px solid rgb(68, 67, 67); */
    /* padding: 10px; */
    margin: 3px;
}

#header {
    grid-area: hd;
    background-image: url("../Pictures/news2.jpg");
    height: 300px;
    background-size: cover;
    opacity: 0.95;
    color: rgb(255, 136, 0);
    text-shadow: 2px 2px 10px #000000;
    padding: 5px;
    font-size: 40px;
    border: 1px solid black;
}

#menubar {
    display: none;
}

#nav {
    display: none;
}

#navbar-links {
    text-decoration: none;
    color: rgb(2, 2, 2);
}

#posts {
    grid-area: po;
}

#about-info {
    grid-area: po;
}

#footer {
    grid-area: ft;
    border: 1px solid rgb(68, 67, 67);
    background-color: rgb(109, 111, 112);
    color: ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordpress-page {
    color: ivory;
}

#news-summary {
    display: none;
}

.pic {
    max-width: 90%;
    height: 60px;
}

.img-caption {
    font-size: 16px;
    margin: 5px;
}

#read-button {
    /* background-color: lightgray; */
    border-radius: 5px;
}

#read-button:hover {
    color: rgb(247, 244, 244);
    background-color: rgb(63, 61, 61);
    border-radius: 5px;
}
